html,
body {
    padding: 0;
    margin: 0;
}

.app {
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
